<div class="jumbotron jumbotron-fluid container">
    <div class="container text-center">
      <h1 class="display-4">About</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad commodi odio molestiae iure corporis molestias ab illum, esse laudantium qui eos nobis minima rem fuga perspiciatis, placeat nihil nulla debitis!
      Fugit, accusantium. Suscipit ex numquam ut voluptatum ipsa, expedita quis minus impedit fugit ratione iste nobis omnis sunt, vero consequuntur! Commodi iure aliquam nisi architecto quam accusantium tenetur quis quae?
      Vitae, harum molestiae! Necessitatibus consequatur adipisci perferendis! Dolorum voluptatum sapiente sint, tempora repellat quibusdam soluta neque. Fugiat nostrum delectus neque itaque, sint distinctio iure adipisci in, sed commodi voluptatem quisquam.
      Impedit doloremque error quam a minus, sapiente quae! Sed quo itaque in minima iure accusamus debitis nam nulla neque. Similique, sunt. Cum ullam, voluptatibus earum ab quas id libero. Officiis.
      Eius sed nulla placeat est, accusantium ipsam veniam corrupti, molestias quisquam, aliquam dolores vel! Porro asperiores rerum reiciendis est! Quia reiciendis delectus saepe, corrupti eveniet eligendi molestias consectetur eum optio.</p>
    </div>
  </div>