<div class="jumbotron jumbotron-fluid container">
    <div class="container text-center">
      <h1 class="display-4">Welcome Home</h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident sapiente illum expedita hic saepe alias ipsa ipsum est fugit facere deleniti dolor quos impedit recusandae, earum odio, eius laudantium et?
      Dolorum ullam consequatur voluptatibus tempore necessitatibus asperiores autem adipisci neque itaque error quam, aperiam nesciunt, quae temporibus cumque ratione nihil sapiente iusto eius? Eaque esse nobis ducimus veritatis architecto accusamus.
      Quibusdam itaque repellendus veritatis optio, quae laudantium? Sed pariatur est molestias odit. Dolorum dolore saepe ipsa accusantium aliquid nam numquam recusandae veniam, minus sapiente iusto architecto libero, ex repellendus assumenda?
      Tempora perferendis consectetur voluptas, deleniti praesentium eos harum iste porro quod quae sit aspernatur laudantium adipisci minus officia, quis, architecto quaerat quos aut maxime optio ut cumque. Sit, iusto distinctio.</p>
    </div>
  </div>